.contactUs{
    margin: 0 auto;
}
.contactUs .contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
}
.contactUs .contact p:nth-child(2){
    margin: auto 65px; 
}
.contactUs .contact p:nth-child(3){
    margin: auto 44px;
    margin-bottom: 40px;
} 
.contactUs h1{
    margin-top: 40px;
}

/* form Section */
.form{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
form input{
    width: 250px;
    margin: 10px auto;
    padding: 5px 18px;
    font-family: candara;
    border: 1px solid #CDD6DD;
}
textarea{
    width: 250px;
    padding: 5px 18px;
    font-family: candara;
    border: 1px solid #CDD6DD;
}
button{
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#stn{
    width: 100%;
    text-align: center;
    border-radius: 25px;
    background: #2E5180;
    padding: 10px;
    margin: 20px auto;
}
button a{
    text-decoration: none;
    color: #ffff;
}
.contactUs .container2{
    background: #F7F7F7;
}

/* TTablets */
@media(max-width:899px) and (min-width: 600px){
   
    .contactUs h1{
        font-size: 30px;
        font-weight: bolder;
    }
    .contactUs .contact p:nth-child(3){
        margin: auto 110px;
        margin-bottom: 40px;
    } 

    form input{
        width: 600px;
    }
    textarea{
        width: 600px;
        height: 200px;
    }
    }
    
    /* laptops */
    @media(min-width:900px){
    
        .contactUs h1{
            font-size: 30px;
            font-weight: bolder;
        }
        
        .contactUs .container2{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            gap: 30px;
            width: 1200px;
            margin: 0 auto;
        }

        .contactUs .contact p:nth-child(2){
            margin: auto 80px;
        }

        .contactUs .contact p:nth-child(3){
            margin: auto 110px;
        }
        form input{
            width: 400px;
        }
        textarea{
            width: 400px;
            height: 200px;
        }
        form{
            margin-top: 40px;
        }

    }