/* This is a general style sheet for all */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* The Overlay styling */
nav ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 25vh;
}
nav li:nth-child(3){
    border: 1px solid #fff;
    padding: 10px 10px;
    width: 35%;
    text-align: center;
    border-radius: 25px;
}
#closeBtn{
    color: #fff;
    position: absolute;
    top: 20px;
    left: 85%;
    bottom: 0;
}
#menuOverlay {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.9);
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}

/* my social media handles */

#github, #linkedin, a{
    color: #fff;
    text-decoration: none;
    list-style: none;
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

#github{
    position: absolute;
    top: 600px;
    bottom: 0;
    left: 0;
    right: 50%;
}
#linkedin{
    position: absolute;
    top: 600px;
    bottom: 0;
    left: 32%;
    right: 0;
}

@media(max-width:899px) and (min-width: 600px){
    .forphones a{
        font-size: 30px;
    }
    nav li:nth-child(3){
        width: 25%;
    }
    #closeBtn{
        top: 26px;
        left: 90%;
        width: 50px;
        height: 90px;
    }
    #github, #linkedin, a{
        top: 1000px;
        font-size: 30px;
    }
    #git, #hub{
        width: 20%;
        height: 50px;
    }
}